doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title ::4Chan Monitor::
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css')
		link(rel='stylesheet', href='https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
		block stylesheets
	body
		div.container
			block content