extends layouts/default
		
block content
	div.col-sm-6.col-sm-offset-3
		h1 
			span.fa.fa-sign-in &nbsp;Signup
		
		//if message.length > 0
		//	div.red.lighten-2

		// Login Form
		form(action='/signup' method='post' class='col s4 push-s4')
			div.input-field.col.s4
				input(type='text' class='form-control' name='email')
				label Email
			div.input-field.col.s4
				label Password
				input(type='password' class='form-control' name='password')
			button(type='submit' class='waves-effect waves-light btn') Singup
		hr
		p 
			Already have an account?
			a(href='/signup') Signup
		p
			Or go home
			a(href='/') Home
	
