extends layouts/default

block javascripts
	script(type='text/javascript', src='https://cdn.socket.io/socket.io-1.4.5.js')
	script(type='text/javascript', src='js/chat.js')
		
block content
	div.row
		nav
			div(class='nav-wrapper') 
				ul
					li
						a(href='/profile') Profile
					li
						a(href='/logout') Logout
					li 
						div(id='username') #{user.local.username}
		div#chat-zone.col.s10
			div#chat-message-box 
				
			div#chat-input-box
				form
					div.col.s10
						textarea(id='message' class='materialize-textarea' row='2')
					div.col.s2
						input(id='send-button' type='submit' class='waves-effect waves-light btn' value='Send')
		div#user-list.col.s2
			h5 User list
