extends layouts/default
		
block content
	div.center-align
		h1 
			span.fa.fa-lock &nbsp;Welcome to Chatia
		p Login or Register with:
			br
			a(href='/login' class='btn btn-default')
				span.fa.fa-user &nbsp; Local Login
			&nbsp;
			a(href='/signup' class='btn btn-default')
				span.fa.fa-user &nbsp; Local Signup
